@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.37.2/dist/core-styles.base.css");
@import url("https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.37.2/dist/core-styles.portal.css");
@import url("https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.37.2/dist/core-styles.header.css");

/* main document */
html, body {
    margin: 0;
    padding: 0;
}

.body {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.s-header.navbar {
    background-color: var(--global-color-primary--xx-dark);
    color: var(--global-color-primary--xx-light);
    height: 50px;
    min-height: 50px;
}

.s-header .nav-item .nav-link {
    font-weight: 400;
    font-size: 16px;
    color: var(--global-color-primary--xx-light);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--global-color-primary--xx-light);
}

.collapse-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger-button {
    display: none;
    color: rgba(255, 255, 255, .5);
    padding: .25rem .75rem .25rem .75rem;
    font-size: 1.25rem;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .25rem;
    background: transparent;
    margin-left: auto;
}

.auth-nav {
    margin-left: auto;
}

.auth-nav__icon {
    align-self: center;
    font-size: 20px;
    margin-right: .5em;
    margin-left: 5px;
}

.auth_nav .nav-item {
    border-left: 1px solid white;
}

#auth-link :hover {
    text-decoration: none;
}

/* page title */

.page-title {
    font-family: inherit;
    font-size: 4.1rem;
    font-weight: var(--bold);
    line-height: 1.2;
    margin-bottom: 40px;
    margin-bottom: 27px;
    margin-top: 30px;
    color: var(--global-color-primary--xx-dark);
}

/* button styling */
.button--medium {
    font-size: var(--global-font-size--medium);
}

.remove-range__button {
    background-color: var(--global-color-danger--dark);
    margin-left: 20px;
    margin-top: 24px;
    padding: 3px 6px 3px 6px;

}

.remove-range__div {
    align-self: center;
}

.remove-range__icon {
    color: var(--global-color-primary--xx-light);
    font-size: var(--global-font-size--large);
}

/* filters */

.filter-toggle__title {
    font-size: 18px;
    margin-top: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: left;
    display: inline-block;
}

.filter-toggle__chevron {
    text-align: right;
    margin-left: auto;
    padding-right: 5px;
    font-size: 16px;
}

.filter-toggle__button {
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0px;
    border: 0px;
    justify-content: space-between;
    width: 100%;
}

.filter-box {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.filter-box__label {
    font-size: 1.3rem;
}

.filter-error {
    /* margin-top: 15px; */
    padding-top: 15px;
    color: var(--global-color-danger--dark);
}

.date-dropdown {
    flex: 1 1 0;
}

.date-dropdown--not-last {
    padding-right: 20px;
}

/* pills on multi-select component */
.c-island .Select--multi .Select-value {
    background-color: var(--global-color-extra--x-light);
    color: var(--global-color-extra--normal);
    border: 1px solid var(--global-color-extra--normal);
}

.c-island .Select--multi .Select-value-icon {
    border-right: 1px solid var(--global-color-extra--normal);
}

/* graphs */

.graph-card {
    padding-top: 20px;
}

/* style the DataTable component using its css classes */
.column-actions {
    order: 9;
}

span.column-header-name {
    padding-right: 7px;
}

/* hide default export on DataTable component */
#datatable_id button.export {
    display: none;
}

/* summary panel */
.summary-panel__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--global-color-tertiary--dark);
    border: 1px solid var(--global-color-tertiary--dark);
    padding-top: 20px;
    padding-bottom: 20px;
}

.summary-panel__metric {
    height: 8rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.summary-panel__metric__title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

/* authentication */

.login-note {
    font-size: var(--global-font-size--small);
}

.auth-form__title {
    padding-top: 30px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: var(--black);
    color: var(--global-color-primary--xx-dark);
}

.auth-form__desc {
    text-align: center;
    font-weight: var(--medium);
    font-size: 1.6rem;
    color: var(--global-color-primary--xx-dark);
}

.auth-form__field {
    padding: 12px;
}

.auth-form__error {
    padding-top: 20px;
    color: var(--global-color-danger--dark);
}

.auth-form__footer {
    display: flex;
    justify-content: center;
}

footer {
    margin: 2rem 1rem 0rem 1rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

/* media query that swaps wide nav for hamburger nav */

@media (max-width: 768px) {

    .collapse-nav {
        width: 0px;
    }

    .hamburger-button {
        display: unset;
    }

    .menu-links, .auth-nav {
        display: none;
    }

    .show-nav .auth-nav {
        margin-left: 0px;
    }

    .show-nav .auth-nav, .show-nav .menu-links {
        display: unset;

    }

    .show-nav .collapse-nav, .show-nav .menu-links ul {
        flex-direction: column;
        width: 100%;
    }

    .show-nav .collapse-nav, .show-nav .menu-links ul li {
        width: 100%;
    }

    .s-header.navbar.show-nav {
        height: 205px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .navbar-logo-section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

}