@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.37.2/dist/core-styles.base.css");
@import url("https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.37.2/dist/core-styles.portal.css");
@import url("https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.37.2/dist/core-styles.header.css");

/* MAIN DOCUMENT */
html, body {
    margin: 0;
    padding: 0;
}

.body {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.s-header.navbar {
    background-color: var(--global-color-primary--xx-dark);
    color: var(--global-color-primary--xx-light);
    height: 50px;
}

  @media (min-width: 992px) {
    .s-header.navbar {
        min-height: 50px;
    }
}

.navbar-container {
    background-color: var(--global-color-primary--xx-dark);
}

.s-header .nav-item .nav-link {
    font-weight: 400;
    font-size: 16px;
    color: var(--global-color-primary--xx-light);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--global-color-primary--xx-light);
}

.page-title {
    font-family: inherit;
    font-size: 4.1rem;
    font-weight: var(--bold);
    line-height: 1.2;
    margin-bottom: 40px;
    margin-bottom: 27px;
    margin-top: 30px;
    color: var(--global-color-primary--xx-dark);
}

.toggle-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: left;
    display: inline-block;
}

.chevron {
    text-align: right;
    margin-left: auto;
    padding-right: 5px;
    font-size: 16px;
}

.toggle-button {
    margin-bottom: -10px;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: var(--global-border-width--thick) solid var(--global-color-tertiary--normal);
}

/* pills on multi-select component */
.c-island .Select--multi .Select-value {
    background-color: var(--global-color-extra--x-light);
    color: var(--global-color-extra--normal);
    border: 1px solid var(--global-color-extra--normal);
}

.c-island .Select--multi .Select-value-icon {
    border-right: 1px solid var(--global-color-extra--normal);
}

.filter-label {
    font-size: 1.3rem;
}

.horizontal-beginning {
    padding-right: 20px;
}

.date-dropdown {
    flex: 1 1 0;
}

.graph-card {
    padding-top: 20px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    background-color: #222222;
    color: #fff;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: #222222;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooptip p:after{
      width:100%;
      height:auto;
      content:'';
      position: absolute;
      top:-40px;
      left:0;
  }
  
  .select-all {
      font-weight: 700;
  }

#select_institutions_checklist,
#select_machine_checklist,
#year_radio_dcc {
    display: flex;
    gap: 1rem;
}

/* DataTable */
.column-actions {
    order: 9;
}

span.column-header-name {
    padding-right: 7px;
}

#datatable_id button.export {
    display: none;
}

.btn {
    font-size: var(--global-font-size--medium);
}

/* Total Counters */
#total_counters_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--global-color-tertiary--dark);
    border: 1px solid var(--global-color-tertiary--dark);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.total_counters {
    height: 8rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.counter_title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #ffffff;
}

.auth_nav {
    margin-left: auto;
}

#auth-icon {
    align-self: center;
    font-size: 20px;
}

.auth_nav .nav-item {
    border-left: 1px solid white;
}

#auth-link :hover {
    text-decoration: none;
}

/* login */

.login-note {
    font-size: var(--global-font-size--small);
}

.form-title {
    padding-top: 30px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: var(--black);
    color: var(--global-color-primary--xx-dark);
}

.form-desc {
    text-align: center;
    font-weight: var(--medium);
    font-size: 1.6rem;
    color: var(--global-color-primary--xx-dark);
}

.form-field {
    padding: 12px;
}

.login-error {
    padding-top: 20px;
    color: var(--global-color-danger--dark);
}